.nav-dropdown {
  padding: 0%;
}

.error {
  color:red;
}

#createOrglabel1 {
  margin-bottom: 3px;
  display:block;
  color:rgba(0,0,0,.87);
  font-family: 'Helvetica Neue', Helvetica;
  line-height: 1.4;
  font-weight: 700;
  margin:0 0 .285rem 0;
  font-size: .92em; 
}